.task-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 45.2px;
  grid-gap: 2rem;
  overflow-y: overlay;
  @media screen and(max-width: 450px) {
    margin-top: 4.3rem;
  }

  &__ideas {
    &-box {
      position: relative;
      max-width: 100%;
      padding: 1.5rem;
      margin-top: 0.8rem;
      background-color: #fff;
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      font-family: $family-Luxurious;
      box-shadow: 6px 5px 13px -5px #00000048;
      background-color: #f8de7e60;
      input[type="checkbox"] {
        margin-right: 1.2rem;
      }
      & .delete {
        position: absolute;
        top: 3px;
        right: 7px;
        cursor: pointer;
        font-size: 1.4rem;
        transition: all 0.2s;
        &:hover {
          color: red;
          transform: scale(1.2);
        }
      }
    }
  }

  &__in-progress {
    &-box {
      position: relative;
      padding: 1.5rem;
      margin-top: 0.8rem;
      background-color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      font-family: $family-Luxurious;
      box-shadow: 6px 5px 13px -5px #00000048;
      background-color: #c5d6f860;
      .in-progress-checkbox {
        margin-right: 1.2rem;
      }
      & .delete {
        position: absolute;
        top: 3px;
        right: 7px;
        cursor: pointer;
        font-size: 1.4rem;
        transition: all 0.2s;
        &:hover {
          color: red;
        }
      }
    }
  }

  &__done {
    &-box {
      position: relative;
      padding: 1.5rem;
      margin-top: 0.8rem;
      background-color: #fff;
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      font-family: $family-Luxurious;
      box-shadow: 6px 5px 13px -5px #00000048;
      background-color: #66e35d54;
      .done-checkbox {
        margin-right: 1.2rem;
      }
      & .delete {
        position: absolute;
        top: 3px;
        right: 7px;
        cursor: pointer;
        font-size: 1.4rem;
        transition: all 0.2s;
        &:hover {
          color: red;
          transform: scale(1.2);
        }
      }
    }
  }
}

.hidden {
  display: none;
}

// -------------------CHECKBOX-------------------//
input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid $color-green;
    border-radius: 3px;
    background-color: white;
  }
  &:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid $color-green;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
  }
}
