$family-Luxurious: "Luxurious Roman", cursive;
$family-poppins: "Poppins", sans-serif;
$family-shadow: "Shadows Into Light", cursive;

$color-lightblue: #caf0f8;
$color-darkblue: #0077b6;
$color-lighblue2: #edf3fe;
