@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins:wght@200;300;400;500;600;700&family=Shadows+Into+Light&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 700px) {
  html {
    font-size: 50%;
  }
}

.container-wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(312deg, #0077b6 0%, #caf0f8 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-wrapper .container {
  width: 70%;
  height: 70%;
  background: #fff;
  max-width: 80rem;
  display: grid;
  grid-template-areas: "side header header header" "side header header header" "side main main    main" "side main main    main" "side main main    main" "side main main    main";
  grid-template-columns: 18rem 1fr 1fr 1fr;
}
@media screen and (max-width: 1000px) {
  .container-wrapper .container {
    width: 85%;
    height: 85%;
    grid-template-rows: 20rem 7rem repeat(4, auto);
  }
}
@media screen and (max-width: 810px) {
  .container-wrapper .container {
    width: 100vw;
    height: 100vh;
    grid-template-rows: 20rem 7rem repeat(4, auto);
  }
}
@media screen and (max-width: 700px) {
  .container-wrapper .container {
    max-width: 100rem;
    grid-template-rows: 20rem 10rem repeat(4, auto);
  }
}

.header {
  grid-area: header;
}

.side-navbar {
  grid-area: side;
  background-color: red;
}

.task-main {
  grid-area: main;
  background-color: green;
}

.header {
  position: relative;
  background-color: red;
}
.header__img {
  background-image: url(../images/header-img.jpg);
  height: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  background-position: 45% 65%;
  background-position-x: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem 1rem 4rem;
}
.header__img .title-1 {
  font-family: "Luxurious Roman", cursive;
  font-size: 4rem;
  padding-top: 1rem;
  align-self: flex-start;
}
.header__img .title-2 {
  font-family: "Luxurious Roman", cursive;
  font-size: 4rem;
  align-self: flex-end;
}
.header__search {
  height: 50%;
  background: #0077b6;
  background: linear-gradient(183deg, #0077b6 0%);
  box-shadow: inset -5px -15px 70px 32px rgba(255, 255, 255, 0.68);
  display: flex;
  align-items: flex-start;
  padding-top: 3.2vh;
  padding-left: 2rem;
}
.header__search label {
  font-size: 3rem;
  margin-right: 2rem;
  font-family: "Shadows Into Light", cursive;
  word-spacing: -10px;
  color: #fff;
}
.header__search .task-input {
  padding: 1rem;
  width: 60%;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 0;
  transform: translateY(3px);
}
.header__search .fa-tasks {
  color: #fff;
  font-size: 3rem;
  margin-left: 1.5rem;
  transform: translateY(0.74rem);
}
.header-sort {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  position: absolute;
  bottom: 0px;
  border-radius: 24px 24px 0px 0px;
  width: 100%;
}
.header-sort__ideas {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8de7e88;
  font-family: "Shadows Into Light", cursive;
  font-size: 2.2rem;
  letter-spacing: 3px;
  border-radius: 24px 0px 0px 0px;
}
.header-sort__ideas .fa-lightbulb {
  margin-left: 1rem;
}
.header-sort__in-progress {
  display: flex;
  align-items: center;
  background-color: #c5d6f88f;
  justify-content: center;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 3px;
  font-size: 2.2rem;
}
.header-sort__in-progress .fa-hourglass-half {
  margin-left: 1rem;
}
.header-sort__done {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #66e35d7e;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 3px;
  font-size: 2.2rem;
  border-radius: 0px 24px 0px 0px;
}
.header-sort__done .fa-clipboard-check {
  margin-left: 1rem;
}

.side-navbar {
  background-color: #edf3fe;
  padding: 2rem;
  min-width: 18rem;
}
.side-navbar .navigation-container .nav-items {
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  font-size: 1.5rem;
  color: #656565;
  padding: 1rem;
}
.side-navbar .navigation-container :hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.513);
}

.task-main {
  background: white;
  background: linear-gradient(186deg, white 0%, #caf0f8 80%);
}

.task-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 45.2px;
  grid-gap: 2rem;
  overflow-y: overlay;
}
.task-main__ideas-box {
  position: relative;
  max-width: 100%;
  padding: 1.5rem;
  margin-top: 0.8rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-family: "Luxurious Roman", cursive;
  box-shadow: 6px 5px 13px -5px #00000048;
  background-color: #f8de7e60;
}
.task-main__ideas-box input[type=checkbox] {
  margin-right: 1.2rem;
}
.task-main__ideas-box .delete {
  position: absolute;
  top: 3px;
  right: 7px;
  cursor: pointer;
  font-size: 1.4rem;
  transition: all 0.2s;
}
.task-main__ideas-box .delete:hover {
  color: red;
  transform: scale(1.2);
}
.task-main__in-progress-box {
  position: relative;
  padding: 1.5rem;
  margin-top: 0.8rem;
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-family: "Luxurious Roman", cursive;
  box-shadow: 6px 5px 13px -5px #00000048;
  background-color: #c5d6f860;
}
.task-main__in-progress-box .in-progress-checkbox {
  margin-right: 1.2rem;
}
.task-main__in-progress-box .delete {
  position: absolute;
  top: 3px;
  right: 7px;
  cursor: pointer;
  font-size: 1.4rem;
  transition: all 0.2s;
}
.task-main__in-progress-box .delete:hover {
  color: red;
}
.task-main__done-box {
  position: relative;
  padding: 1.5rem;
  margin-top: 0.8rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-family: "Luxurious Roman", cursive;
  box-shadow: 6px 5px 13px -5px #00000048;
  background-color: #66e35d54;
}
.task-main__done-box .done-checkbox {
  margin-right: 1.2rem;
}
.task-main__done-box .delete {
  position: absolute;
  top: 3px;
  right: 7px;
  cursor: pointer;
  font-size: 1.4rem;
  transition: all 0.2s;
}
.task-main__done-box .delete:hover {
  color: red;
  transform: scale(1.2);
}

.hidden {
  display: none;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #6ac76a;
  border-radius: 3px;
  background-color: white;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #6ac76a;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}/*# sourceMappingURL=main.css.map */